.headerContacto{
    .navbar{
        text-align: right;
        color: white;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        .container-fluid{
            .logo{
                display: block;
                margin-left: 1%;
                position: relative;
                bottom: 15%;
            }
            .navbar-toggler{
                position: relative;
                bottom: 30px;
                background-color: $colorPaleta_beige;
            }
            .navbar-collapse{
                justify-content: flex-end;
                position: relative;
                bottom: 40px;
                .navbar-nav{
                    list-style-type: none;
                    padding: 2%;
                    .nav-item{
                        display: inline-block;
                        padding: 5px;
                        .boton-menu{
                            text-decoration: none;
                            color: white;
                            font-family: 'Open Sans', sans-serif;
                            padding: 10px;
                            &:hover{
                                background-color: $colorPaleta_beige;
                                border-radius: 20%;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
    .divSaboresOtros{
        margin: 3%;
        position: relative;
        top: 5%;
        .h1_header{
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            text-align: center;
            color: white;
            font-size: 3rem;
        }
    }
}
.contenedorHijoCont_main{
    grid-area: main;
    margin: 2%;
    .seccion1Cont{
        .seccion1Cont_h2{
            text-align: center;
            margin: 2%;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 32px;
        }
        .seccion1Cont_p{
            text-align: center;
            margin: 2% 7%;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
        }
    }
    .seccion2Cont{
        display: flex;
        justify-content: center;
        form{
            width: 60%;
            margin: 2rem 20%;
            .nombre_apellido{
                display: flex;
                .nombreAp{
                    width: 100%;
                    padding-right: 5px;
                    padding-left: 5px;
                    input{
                        display: block;
                        width: 100%;
                        height: calc(1.5em + 0.75rem + 2px);
                        padding: 0.375rem 0.75rem;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #495057;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 1px solid #ced4da;
                        border-radius: 0.25rem;
                        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                    }
                }
            }
            .formulario_{
                .email_{
                    display: block;
                    width: 100%;
                    height: calc(1.5em + 0.75rem + 2px);
                    padding: 0.375rem 0.75rem;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #ced4da;
                    border-radius: 0.25rem;
                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                }
            }
            .motivo{
                .selecMotivo{
                    display: inline-block;
                    width: 100%;
                    height: calc(1.5em + 0.75rem + 2px);
                    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #495057;
                    vertical-align: middle;
                }
            }
            .cajaComentarios{
                textarea{
                    display: block;
                    width: 100%;
                    padding: 0.375rem 0.75rem;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #ced4da;
                    border-radius: 0.25rem;
                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                }
            }
            .contactoBotones{
                .seccionBoton{
                    display: flex;
                    width: 30vh;
                    .botonEnviar{
                        background-color: $colorPaleta_marron;
                        text-decoration: none;
                        color: black;
                        border-radius: 20%;
                        padding: 2px 20px;
                        font-size: 20px;
                        transition: 0.5s;
                        align-self: center;
                        &:hover{
                            background-color: black;
                            color: white;
                            border-radius: 20%;
                            padding: 2px 20px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
.contenedorHijoCont_footer{
    @extend .footer_extend
}
