.headerMenu{
    background: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)), url(../img/fondoSeccMenu1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35rem;
    grid-area: header;
    .navbar{
        text-align: right;
        color: white;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        .container-fluid{
            .logo{
                display: block;
                margin-left: 1%;
                position: relative;
                bottom: 15%;
            }
            .navbar-toggler{
                position: relative;
                bottom: 30px;
                background-color: $colorPaleta_beige;
            }
            .navbar-collapse{
                justify-content: flex-end;
                position: relative;
                bottom: 40px;
                .navbar-nav{
                    list-style-type: none;
                    padding: 2%;
                    .nav-item{
                        display: inline-block;
                        padding: 5px;
                        .boton-menu{
                            text-decoration: none;
                            color: white;
                            font-family: 'Open Sans', sans-serif;
                            padding: 10px;
                            &:hover{
                                background-color: $colorPaleta_beige;
                                border-radius: 20%;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
    .divSaboresOtros{
        margin: 3%;
        position: relative;
        top: 5%;
        .h1_header{
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            text-align: center;
            color: white;
            font-size: 3rem;
        }
    }
}