$colorPaleta_marron: #b39975;
$colorPaleta_beige: #fefad7;
@import "menu";
@import "nosotros";
@import "contacto";
@import "querries";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.contenedorPadre{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
    width: 100%;
}