$colorPaleta_marron: #b39975;
$colorPaleta_beige: #fefad7;
@import "header";
@import "main";
@import "footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.contenedorPadre{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
    width: 100%;
}
@media screen and (max-width:991px){
    .navbar-nav{
        display: flex;
        flex-direction: column;
        padding: 0% 2%;
        .nav-item{
            &:hover{
                border-radius: 20%;
                background-color: transparent;
            }
            .boton-menu{
                &:hover{
                    color: black;
                    background-color: $colorPaleta_beige;
                    border-radius: 20%;
                }
            }
        }
    }
    .logo{
        display: block;
        margin-left: 1%;
        position: relative;
        bottom: 35%;
    }
    .fondoMenuMain{
        background-image: url(../img/fondoMenu3.png);
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .h1_header{
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        text-align: center;
        color: white;
        font-size: 3rem;
        position: relative;
        bottom: 70px;
    }    
}
@media screen and (max-width:576px){
    .logo{
        display: block;
        margin-left: 1%;
        position: relative;
        bottom: 35%;
    }
    .footer{
        color: white;
        background-color: black;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
